In [1]:
import pandas as pd
from yahooquery import Ticker

In [2]:
df_list = pd.read_csv('data/stock_list.csv')
df_list

,No.,Ticker,Company,Sector,Industry,Country,Market Cap,P/E,Price,Change,Volume
0,1,A,Agilent Technologies Inc.,Healthcare,Diagnostics & Research,USA,40.71B,33.10,138.93,0.86%,444418.0
1,2,AA,Alcoa Corp,Basic Materials,Aluminum,USA,6.76B,0.00,37.67,2.13%,4570106.0
2,3,AAA,AXS First Priority CLO Bond ETF,Financial,Exchange Traded Fund,USA,-,0.00,25.16,0.07%,4490.0
3,4,AAAU,Goldman Sachs Physical Gold ETF,Financial,Exchange Traded Fund,USA,-,0.00,23.10,-0.28%,3215517.0
4,5,AACG,ATA Creativity Global ADR,Consumer Defensive,Education & Training Services,China,27.99M,0.00,0.89,2.30%,14326.0
...,...,...,...,...,...,...,...,...,...,...,...
9497,9498,ZVSA,ZyVersa Therapeutics Inc,Healthcare,Biotechnology,USA,4.39M,0.00,5.78,15.84%,7972123.0
9498,9499,ZWS,Zurn Elkay Water Solutions Corp,Industrials,Pollution & Treatment Controls,USA,5.52B,45.29,31.95,0.79%,565440.0
9499,9500,ZYME,Zymeworks BC Inc,Healthcare,Biotechnology,USA,592.94M,0.00,8.33,0.79%,200250.0
9500,9501,ZYXI,Zynex Inc,Healthcare,Medical Distribution,USA,370.92M,43.07,11.53,2.85%,153414.0
9501,9502,ZZZ,Cyber Hornet S&P 500 and Bitcoin 75 /25 Strate...,Financial,Exchange Traded Fund,USA,-,0.00,23.82,-0.14%,52.0

In [3]:
df_industry = df_list[(df_list['Sector'] == 'Utilities') & (df_list['Country'] == 'USA')]
df_industry

,No.,Ticker,Company,Sector,Industry,Country,Market Cap,P/E,Price,Change,Volume
112,113,ADN,Advent Technologies Holdings Inc,Utilities,Utilities - Renewable,USA,11.42M,0.00,0.15,-2.97%,848185.0
132,133,AEE,Ameren Corp.,Utilities,Utilities - Regulated Electric,USA,19.82B,17.00,74.36,0.96%,691501.0
146,147,AEP,American Electric Power Company Inc.,Utilities,Utilities - Regulated Electric,USA,45.60B,20.40,86.67,1.65%,1900397.0
149,150,AES,AES Corp.,Utilities,Utilities - Diversified,USA,12.66B,54.37,17.81,3.46%,5798232.0
197,198,AGR,Avangrid Inc,Utilities,Utilities - Regulated Electric,USA,14.15B,15.88,36.58,0.54%,334536.0
...,...,...,...,...,...,...,...,...,...,...,...
8988,8989,VST,Vistra Corp,Utilities,Utilities - Independent Power Producers,USA,27.04B,22.28,77.74,6.93%,3862044.0
9097,9098,WEC,WEC Energy Group Inc,Utilities,Utilities - Regulated Electric,USA,26.07B,19.60,82.63,1.40%,1160992.0
9213,9214,WTRG,Essential Utilities Inc,Utilities,Utilities - Regulated Water,USA,9.98B,19.58,36.47,1.05%,703016.0
9264,9265,XEL,"Xcel Energy, Inc.",Utilities,Utilities - Regulated Electric,USA,30.27B,16.38,54.49,0.99%,2732624.0
9421,9422,YORW,York Water Co.,Utilities,Utilities - Regulated Water,USA,509.10M,21.39,35.53,0.44%,28265.0

In [4]:
tickers = Ticker(df_industry['Ticker'].values, asynchronous=True)

# Default period = ytd, interval = 1d
df_stock = tickers.history(start='2023-03-01',end='2024-05-01',interval='1d')

df_stock

                        open       high        low      close  volume  \
symbol date
ADN    2023-03-01  54.900002  54.900002  51.900002  52.200001    9230
       2023-03-02  53.099998  53.099998  51.000000  51.599998    7003
       2023-03-03  51.900002  53.400002  51.000000  53.400002   10671
       2023-03-06  53.400002  54.050999  51.599998  52.200001    8059
       2023-03-07  52.200001  53.049000  51.000000  51.599998    7130
...                      ...        ...        ...        ...     ...
YORW   2024-04-24  35.500000  35.700001  35.119999  35.529999   39400
       2024-04-25  35.330002  35.560001  35.099998  35.369999   44700
       2024-04-26  35.580002  35.580002  35.270000  35.369999   35400
       2024-04-29  35.389999  35.660000  35.349998  35.520000   38600
       2024-04-30  35.139999  35.650002  35.119999  35.509998   53800

                    adjclose  dividends  splits
symbol date
ADN    2023-03-01  52.200001        0.0     0.0
       2023-03-02  51.599998        0.0     0.0
       2023-03-03  53.400002        0.0     0.0
       2023-03-06  52.200001        0.0     0.0
       2023-03-07  51.599998        0.0     0.0
...                      ...        ...     ...
YORW   2024-04-24  35.529999        0.0     0.0
       2024-04-25  35.369999        0.0     0.0
       2024-04-26  35.369999        0.0     0.0
       2024-04-29  35.520000        0.0     0.0
       2024-04-30  35.509998        0.0     0.0

[24138 rows x 8 columns]

In [6]:
df_prices = df_stock['adjclose'].unstack(level=0)
df_prices.index = pd.to_datetime(df_prices.index)
df_prices.dropna(axis=1,inplace=True)
df_prices

symbol,ADN,AEE,AEP,AES,AGR,ALCE,ALE,AMPS,ARIS,ARTNA,...,TVE,UGI,UTL,VGAS,VIA,VST,WEC,WTRG,XEL,YORW
date,,,,,,,,,,,,,,,,,,,,,
2023-03-01,52.200001,77.833527,82.796310,23.525192,36.142548,10.200,58.352753,6.63,12.934539,53.065838,...,20.497381,34.530087,51.602707,10.200,29.049999,21.039583,82.554329,41.228195,60.526001,41.644726
2023-03-02,51.599998,79.110909,84.359062,23.534746,36.787613,10.205,58.724483,6.64,13.258378,53.962120,...,20.390877,34.753704,52.164341,9.080,28.400000,20.632555,83.937073,41.170086,61.549595,42.036217
2023-03-03,53.400002,80.417099,85.413658,23.974112,37.280895,10.210,59.334507,6.96,13.115508,53.923149,...,20.671663,35.033226,52.755028,8.990,27.350000,20.748846,85.434242,40.685844,62.276634,42.496220
2023-03-06,52.200001,80.532349,85.682106,23.878599,37.413712,10.220,58.915123,7.14,12.610699,53.747795,...,20.671663,34.576675,52.144970,9.000,25.850000,23.627132,85.672638,40.966709,62.228806,42.643028
2023-03-07,51.599998,79.178139,84.972641,23.410582,36.759155,10.230,57.799915,7.31,10.667661,53.708828,...,20.661982,34.353054,51.931942,8.896,24.750000,25.691357,84.747643,40.191921,60.851261,44.365585
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-24,4.980000,74.709999,86.370003,17.201746,37.020000,0.317,59.959999,3.68,14.660000,34.889999,...,21.559969,26.000000,50.799999,4.340,10.900000,70.459999,81.822365,36.540001,55.330002,35.529999
2024-04-25,4.914000,74.760002,86.860001,16.964069,36.549999,0.330,59.570000,3.60,14.650000,34.520000,...,21.480484,25.730000,50.490002,4.290,10.880000,72.480003,82.000603,36.570000,55.009998,35.369999
2024-04-26,4.548000,73.660004,85.260002,17.043295,36.380001,0.344,59.020000,3.62,14.810000,34.500000,...,21.401001,25.379999,49.939999,4.600,10.880000,72.699997,80.693504,36.090000,53.959999,35.369999
2024-04-29,4.428000,74.349998,86.669998,17.687000,36.630001,0.345,59.400002,3.69,14.650000,35.099998,...,21.580000,25.719999,50.349998,4.680,10.875000,77.959999,81.990707,36.470001,54.480000,35.520000
2024-04-30,3.741000,73.870003,86.029999,17.900000,36.529999,0.341,59.220001,3.67,14.030000,34.980000,...,21.559999,25.559999,50.939999,4.900,10.890000,75.839996,81.832268,36.580002,53.730000,35.509998

In [7]:
df_prices.to_csv('stock_prices.csv')